<%- include("partials/header") %>

<div class="container">

    <img class="img-fluid" src="https://negotiantis.com/wp-content/uploads/2018/02/herramientas-digitalizacion-notas-escritas-a-mano.png" alt="">


</div>


<%- include("partials/footer") %>